<div *ngIf="user.isAdmin">
  <h1>Bonjour, {{ user.name }}</h1>
</div>

<div class="cards-container">
  <div class="card" *ngFor="let article of articles; let i = index">
    <!-- Le titre de l'article, en rouge si l'utilisateur est admin -->
    <h1 [ngStyle]="{ 'color': user.isAdmin ? 'red' : 'black' }">{{ article.title }}</h1>
    
    <p>{{ article.author }}</p>
    <p *ngIf="article.isPublished">{{ article.content }}</p>
    <img [src]="article.image" [alt]="article.title" />
    <input
      type="text"
      [(ngModel)]="article.comment"
      placeholder="Laissez un commentaire..."
    />
    <p>{{ article.comment }}</p>
    <button (click)="togglePublication(i)">
      {{ article.isPublished ? 'Dépublier' : 'Publier' }}
    </button>
    <button>View</button>

    <div *ngIf="user.isAdmin">
      <button>Edit</button>
    </div>
  </div>
</div>

<div>
  <button (click)="toggleIsAdmin()">
    {{ user.isAdmin ? 'Désactiver' : 'Activer' }} le mode admin
  </button>
</div>
