<div class="cards-container">
  @for (article of articles; track article.id) { @if (article.isPublished) {
  <div class="card">
    <p
      [ngClass]="{ 'popular-article': article.likes > 100 }"
      [ngStyle]="{ color: article.likes > 150 ? 'green' : 'black' }"
    >
      {{ article.likes }}
    </p>
    <h1>{{ article.title }}</h1>
    <p>{{ article.author }}</p>
    <p>
      {{ article.content }}
    </p>
    <img [src]="article.image" [alt]="article.title" />
    <input
      type="text"
      [(ngModel)]="article.comment"
      placeholder="Laissez un commentaire..."
    />
    <p>{{ article.comment }}</p>
    <button (click)="togglePublication(article.id)">
      {{ article.isPublished ? "Dépublier" : "Publier" }}
    </button>
    <a [routerLink]="['/article', article.id]">Voir l'article</a>
  </div>
  } } @if (isNoPublication()) {
  <p>aucun article publier</p>
  }
</div>
